@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes highlight {
  0% {
    background-color: #ffffff;
    transform: scale(1);
  }
  50% {
    background-color: #ffcccc;
    transform: scale(1.05);
  }
  100% {
    background-color: #ff9999;
    transform: scale(1.1);
  }
}

.highlight {
  animation: highlight 1s forwards;
}

.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

.overflow-x-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
